footer {
  height: 50px;
  background-color: rgb(240, 240, 240);
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(245, 245, 245);
  font-size: 16px;
  font-weight: 400;
  margin-top: 75px;

  .footerContent {
    height: 100%;
    width: 70%;
    margin-top: 25px;
    color: rgb(25, 25, 25);
    border-top: 1px solid rgba(200, 200, 200, 0.5);
    // background-color: red;
  }
}
