.home {
  //   max-width: 100%;
  .topSection {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    .homePageMainContent {
      max-width: 65%;

      .homePageTitleImg {
        display: flex;
        align-items: center;
        margin-bottom: 25px;
        height: 100px;
        img {
          height: 100%;
        }
      }

      .mainPageTextAndImage {
        display: flex;
        .leftSide {
          h1 {
            font-size: 48px;
          }

          p {
            font-size: 18px;
          }

          button {
            text-decoration: none;
            background-color: rgb(0, 90, 255);
            color: white;
            padding: 15px;
            border: none;
            border-radius: 4px;
            margin-top: 30px;
            font-size: 18px;
            font-weight: bold;
            cursor: pointer;
          }

          .smallLinks {
            a {
              width: fit-content;
              margin-top: 15px;
              text-decoration: none;
              display: block;
              color: gray;
              font-size: 14px;
            }

            a:hover {
              text-decoration: underline;
            }
          }
        }

        .rightSide {
          width: fit-content;
          max-height: 500px;
          margin-left: 100px;
          display: flex;
          justify-content: center;

          img {
            height: 80%;
            box-shadow: 0px 0px 20px rgb(100, 100, 100);
            border-radius: 5px;
          }
        }
      }
    }
  }

  .bottomSection {
    margin-top: 150px;
    // margin-bottom: 150px;
    display: flex;
    justify-content: center;
    .featureBox {
      border: 1px solid rgba(130, 130, 130, 0.52);
      border-radius: 5px;
      box-shadow: 0px 0px 10px rgba(100, 100, 100, 0.2);
      width: 50%;

      h1 {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        font-size: 28px;
      }

      a {
        margin-top: 16px;
        margin-bottom: 20px;
        font-size: 20px;
        font-weight: bold;
        display: flex;
        justify-content: center;
        color: rgb(0, 90, 255);
      }

      .featureRow {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        width: 80%;

        .featuredItem {
          width: 30%;

          .featuredItemImg {
            height: 100px;
            img {
              height: 100%;
            }
          }

          h2 {
            margin-top: 16px;
          }
        }
      }
    }
  }
}
